/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* Variáveis de cores */
:root {
  --all-black: #000000;
  --all-white: #ffffff;
  --black: #232323;
  --white: #fdfdf5;
  --blue: #2a428c;
  --light-blue: #e3eefe;
  --purple: #6975e8;
  --light-purple: #93acfe;
  --lilac: #b4a7ff;
  --pink: #ffbbf8;
  --beige: #faf6eb;
  --green: #e7fc93;
  --other-green: #c0d9dd;
}

* {
  margin: 0;
  padding: 0;
}

/* TODO: Principalmente relacionado a btns e imagens */
a {
  text-decoration: none;
}