body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--all-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

/* Caixa principal */
.box {
  font-family: "Roboto Mono", monospace;
  background-color: var(--beige);
  padding: 25px 50px;
  border-radius: 15px;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  text-align: center;
  max-width: 800px;
  width: 100%;

  h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 20px;

    em {
      font-style: italic;
      color: var(--black);
    }
  }
}

/* Estilos das tags */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;

  .tag {
    padding: 6px 40px;
    border-radius: 65px;
    color: var(--black);
    font-weight: bold;
    font-size: 0.9em;
    white-space: nowrap;
  }
}

/* Cores personalizadas para cada tag */
.tag1 {
  background-color: #FFEB3B;
}

.tag2 {
  background-color: #FF7043;
}

.tag3 {
  background-color: #EF5350;
}

.tag4 {
  background-color: #0BAC7D;
}

.tag5 {
  background-color: #5C6BC0;
}

.tag6 {
  background-color: #3285E2;
}

.tag7 {
  background-color: #E91E63;
}

.tag8 {
  background-color: #8faafb;
}

.tag9 {
  background-color: #00BCD4;
}

.tag10 {
  background-color: #9E9E9E;
}

.tag11 {
  background-color: #F47AC1;
}

.tag12 {
  background-color: #00E676;
}

.tag13 {
  background-color: #FF1744;
}

.tag14 {
  background-color: #8000FF;
}

.tag15 {
  background-color: #81D4FA;
}

/* Botão */
.btn {
  margin-top: 40px;
  background-color: var(--black);
  border: none;
  border-radius: 40px;
  padding: 20px 36px;
  font-size: 24px;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--all-black);
    color: var(--white);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .box {
    padding: 20px;
    h1 {
      font-size: 2em;
    }
  }

  .btn {
    padding: 18px 30px;
    font-size: 18px;
  }

  .tag {
    padding: 8px 15px;
    font-size: 0.8em;
  }
}
